* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Jost";
  }

body {
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
}

.wrapper{
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin: 40px;
    width: 500px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}

div h1 {
    padding: 30px;
    font-size: large;
    font-size: 40px;
    font-weight: 900;
  
}


form label {
display: inline-block;
padding:20px; 
font-weight:200;
font-weight: bold;

}

form input{
    display: inline-block;
    text-align: left;
    width:250px;
    border: solid rgb(172, 172, 172);
    border-radius: 5px;
    border-width: 2px;
    padding: 5px;

}

.f-name{
    margin-left: 30px;
}
.pass {margin-left: 40px;
outline-color:rgb(60, 0, 224, 0.7);}

.conPass{
    outline-color:rgb(60, 0, 224, 0.7);
}

.check input{
    width: 30px;
    height: 15px;
}

.check{
    margin:20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}


button{
    padding:10px 30px;
    margin: 20px 40px;
    color:white;
    border-radius: 10px;
    font-weight: bold;
}

.clear{
background-color: rgb(224, 0, 101);
width:150px;
}

.submit{
    background-color: rgb(60, 0, 224);
    width:150px;
}

.error{
    background-color: hsla(333deg, 100%, 44%, 0.25);
    padding: 30px;
    border-radius: 10px;
    
}